*{
    margin: 0;
    border: 0;
    padding: 0;
}
@font-face {
    font-family: IBM Plex Sans;
    src: url(https://fonts.google.com/specimen/IBM+Plex+Sans?query=ibm+pl#standard-styles);
}
body{
    display: flex;
    width: 100%;
    height: 100%; 
    background-color: black;
    justify-content: center;
}
.container{
    font-family: IBM Plex Sans;
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    height: 80%;
    min-height: fit-content;
    min-width: fit-content;
    margin: 5%;
    padding: 5%;
    background-color: rgb(46, 46, 46);
    border: 1px;
    border-radius: 10px;
    align-content: center;
    
}
p{
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.box{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.perfis{
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    height: 220px;
    justify-content: space-between;
    align-content: space-around;
}
.avatares{
    color: white;
}
figcaption{
    display: flex;
    justify-content: center;
}
img{
    border: 1px;
    border-radius: 8px;
}
img:hover{
    zoom: 105%;
}
.ger{
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
    border: 1px;
    margin: 1px white;
}
button{
    display: inline-flex;
    font-family: IBM Plex Sans;
    justify-content: end;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    border-radius: 8px;
    border-color: white;
    background-color: rgb(46, 46, 46);
    color: white;
}
button:hover{
    background-color: white;
    color: black;
}
